# Appwrite
APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=
APPWRITE_API_KEY=
APPWRITE_DATABASE_ID=trm_spinner

# Redis
REDIS_URL=redis://redis:6379

# Admin
ADMIN_PASSWORD=Jack123123@!

# Frontend public vars
NEXT_PUBLIC_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
NEXT_PUBLIC_APPWRITE_PROJECT_ID=
NEXT_PUBLIC_API_URL=http://localhost:8000
